body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#13546b, #1b3f88);
    color: white;
    font-family: 'Courier New', monospace;
}

.container 
{
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.container h1 
{
    font-size: 5rem;
    margin-bottom: 20px;
}

#fecha 
{
    font-size: 2rem;
    letter-spacing: 2px;
}

#reloj 
{
  font-size: 64px; 
  font-weight: bold;
}